@page
@model ControlDeGastos.Pages_FondoMonetario.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>FondoMonetarioModel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FondoMonetarioModel.nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FondoMonetarioModel.nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FondoMonetarioModel.tipo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FondoMonetarioModel.tipo)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="FondoMonetarioModel.rowid" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
