@page
@model ControlDeGastos.Pages_Deposito.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>DepositoModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="DepositoModel.rowid" />
            <div class="form-group">
                
                <label asp-for="DepositoModel.fecha" class="control-label"></label>
                <input asp-for="DepositoModel.fecha" class="form-control" />
                <span asp-validation-for="DepositoModel.fecha" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <label asp-for="DepositoModel.fondo_monetario_id" class="control-label"></label>
                <select asp-for="DepositoModel.fondo_monetario_id" class="form-control" asp-items="ViewBag.fondo_monetario_id"></select>
                <span asp-validation-for="DepositoModel.fondo_monetario_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <label asp-for="DepositoModel.monto" class="control-label"></label>
                <input asp-for="DepositoModel.monto" class="form-control" />
                <span asp-validation-for="DepositoModel.monto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

